<div class="footer-container">
    <div class="footer-items">

        <div class="iconContainer">
            <div class="facebook icon footer-item">
                <a href="https://www.facebook.com/" target="_blank"><img  src="/assets/facebook.png" class="footerLogo" alt="f"></a>
            </div>
            <div class="instagram icon footer-item">
                <a href="https://www.instagram.com/" target="_blank"><img  src="/assets/instagram.png" class="footerLogo" alt="I"></a>
            </div>
            <div class="twitter icon footer-item">
                <a href="https://www.twitter.com/" target="_blank"><img  src="/assets/twitter.png" class="footerLogo" alt=""></a>
            </div>
        </div>
        <div class="termsAndPrivacy">
            <div class="terms footer-item"><a routerLink="terms&condition">terms of use*</a></div>
            <div class="privacy footer-item"><a routerLink="terms&condition">privacy policy*</a></div>
        </div>
        <div class="emailAndCc">
            <div class="email footer-item"><a routerLink="/">shop@falcon.com</a></div>
            <div class="copyRight footer-item">&copy;2022 <a routerLink="/">falcon.com</a></div>
        </div>
    </div>
</div>