<div class="navbar-container">
    <div class="navbar-options">
        <div class="left">
            <a routerLink="/">
                <div class="logo navbar-option">Falcon</div>
            </a>
    </div>
        <div class="center">
            <div class="language navbar-option">En</div>
            <div class="searchContainer">
                <input class="searchBox" type="text" placeholder="search item">
                <div class="searchIconDiv">
                    <img class="searchIcon navbar-option" src="/assets/searchicon.png" alt="search Icon">
                    
                </div>
            </div>
        </div>
        <div class="right">
            <a routerLink="register">
                <div class="menuItem navbar-option">seller register</div>
            </a>
          <a routerLink="signin">
              <div class="menuItem navbar-option">Sign In</div>
          </a>
           <a routerLink="cart">
               <div class="menuItem navbar-option"><img class="cartIcon" src="/assets/cart.png" alt="">
                <span class="cartItemCount">0</span>
            </div>
            </a>
        </div>
    </div>

</div>