<form>
    <div class="container">
        <div class="card">
            <h1>Sign In..!!</h1>
            <div>
                <label for="email">Email:</label>
            </div>
            <div>
            <input class="inputBox" type="text" id="email" placeholder="Enter your email" />
        </div>
        <div>
            <label for="password">password:</label>
        </div>
        <div>
            <input class="inputBox" type="password" id="password" placeholder="enter your password" />
        </div>
        <button class="submitButton" type="submit">Sign in</button>
    </div>
</div>
</form>