.backgroundad{
    height: 550px;
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}
.container{
    display: flex;
    background-color: rgba(211, 211, 211, 0.3);
    justify-content: space-between;
    flex-wrap: wrap;
}
.productimage{
    height: 300px;
    width: 330px;
    border-radius: 5px;
}
.card
{
    height: 430px;
    width: 330px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color : white;
    margin: 10px;

}
.mt-20{
    margin-top: 10px;
    font-size:medium;
    font-weight: bold ;
}
.icon{
    height: 50px;
    width: 50px;
    background-color:white;
    border-radius: 50%;
    margin: 10px;
}